<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links should be in Alphabetical Order -->
    <link rel="stylesheet" href="/css/boxes.css"></link> <!-- Boxes -->
    <link rel="stylesheet" href="/css/buttons.css"></link> <!-- Buttons -->
    <link rel="stylesheet" href="/css/colors.css"></link> <!-- Colors -->
    <link rel="stylesheet" href="/css/fonts.css"></link> <!-- Fonts -->
    <link rel="stylesheet" href="/css/globals.css"></link> <!-- Globals -->
    <link rel="stylesheet" href="/css/images.css"></link> <!-- Images -->
    <link rel="stylesheet" href="/css/navbar.css"></link> <!-- Nav Bar -->
    <link rel="stylesheet" href="/css/tables.css"></link> <!-- Tables -->
    <link rel="stylesheet" href="/css/text.css"></link> <!-- Text -->

    <!-- Page Title -->
    <title>Home</title>

</head>

<body>

    <!-- ======== HEADER (START) ======== -->
    <div class="headerbox">
        <input type="image" src="/img/logo/Logo_White_BlackOutline.svg" alt="Gamers Guild Logo" class="headerlogo"
            id="gg_header_logo"></input>

        <!-- ======== NAVIGATIONAL BAR (START) ======== -->

        <nav id="topNav">
            <ul>
                <li><a id="navbar_home">Home</a></li>
                <li><a id="navbar_create">Create</a></li>
                <li><a id="navbar_profile">Profile</a></li>
            </ul>
        </nav>


        <!-- ======== NAVIGATIONAL BAR (END) ======== -->
    </div>
    <!-- ======== HEADER (END) ======== -->

    <table style="outline: 2; outline-color: black;">
        <tr>
        </tr>
    </table>

    <!-- ======== ALL FEEDS (START) ======== -->
    <div id="posts-container" class="post1">
        <!-- display all feeds -->
        <table id="all_feeds">
            <th>User</th>
            <th>Feed Description</th>
            <th>Feed Comment</th>
        </table>
    </div>
    <!-- ======== ALL FEEDS (END) ======== -->

    <!-- ======== GO TO MY FEEDS (START) ======== -->
    <button onclick="my_feeds()" class="button_nav1" style="margin-left: 43%;">Go to My Feeds</button>
    <!-- ========= GO TO MY FEEDS (END) ========= -->

    <!-- ======== JAVASCRIPT (START) ======== -->
    <script src="/js/header_navbar.js"></script> <!-- Access the JS file "header_navbar.js" -->
    <script src="/js/index.js"></script> <!-- Access the JS file "index.js" -->
    <!-- ======== JAVASCRIPT (END) ======== -->

</body>

</html>