<!-- This is the Homepage -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Links should be in Alphabetical Order -->
        <link rel="stylesheet" href="/css/boxes.css"></link> <!-- Boxes -->
        <link rel="stylesheet" href="/css/buttons.css"></link> <!-- Buttons -->
        <link rel="stylesheet" href="/css/colors.css"></link> <!-- Colors -->
        <link rel="stylesheet" href="/css/fonts.css"></link> <!-- Fonts -->
        <link rel="stylesheet" href="/css/globals.css"></link> <!-- Globals -->
        <link rel="stylesheet" href="/css/images.css"></link> <!-- Images -->
        <link rel="stylesheet" href="/css/text.css"></link> <!-- Text -->
        
        <!-- Page Title -->
        <title>Document</title>

    </head>
    <body>

        <!-- ======== HEADER (START) ======== -->
        <div class="headerbox">
            <input type="image" src="/img/logo/Logo_White_BlackOutline.svg" alt="Gamers Guild Logo" class="headerlogo" id="gg_header_logo"></input>
        
            <!-- ======== NAVIGATIONAL BAR (START) ======== -->
            <div class="navbarbox" id="navigationalbar"></div>
            <!-- ======== NAVIGATIONAL BAR (END) ======== -->
        </div>
        <!-- ======== HEADER (END) ======== -->


        <!-- ======== LOGIN PROMPT (START) ======== -->
        <div id="login_prompt">
            <button onclick="my_feeds()" class="button_nav1" style="font-family: stevie-sans, monospace; font-size: 12pt; font-weight: 200pt;">Go to My Feeds</button>
        </div>
        <!-- ======== LOGIN PROMPT (END) ======== -->


        <!-- ======== ALL FEEDS (START) ======== -->
        <div id="posts-container" class="post1">
            <!-- display all feeds -->
            <table id="all_feeds"> 
                <th>Feed Description</th>
                <th>Feed Comment</th>
                <th>User ID</th>
            </table>
        </div>
        <!-- ======== ALL FEEDS (END) ======== -->

        <!-- ======== JAVASCRIPT (START) ======== -->
        <script src="/js/index.js"></script> <!-- Access the JS file "index.js" -->
        <!-- ======== JAVASCRIPT (END) ======== -->
        
    </body>
</html>