<!-- This is the Homepage -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/boxes.css"></link> <!-- Link in boxes -->
        <link rel="stylesheet" href="/css/fonts.css"></link> <!-- Link in fonts -->
        <link rel="stylesheet" href="/css/colors.css"></link> <!-- Link in colors -->
        <link rel="stylesheet" href="/css/images.css"></link> <!-- Link in images -->
        <link rel="stylesheet" href="/css/globals.css"></link> <!-- Link in globals -->
        <title>Document</title>
    </head>
    <body>

        <!-- Header that is the same on every page -->
        <div class="headerbox">
            <input type="image" src="/img/logo/Logo_White_BlackOutline.svg" alt="Gamers Guild Logo" class="logoheader"
                id="gg_header_logo"></input>
        </div>

        <p>Greetings</p>
        <h1>Greetings2</h1>
        
    </body>
</html>