<!-- homepage ig -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Make sure these are href and not src -->
    <link rel="stylesheet" href="/css/fonts.css"></link> <!-- Link in fonts -->
    <link rel="stylesheet" href="/css/globals.css"></link> <!-- Then link in globals -->
    <title>Document</title>
</head>

<body>
    <!-- put div(S) in here that adds all of the things dynamically -->
    <!-- Sometimes people create divs with the ID of a container -->
    <p><span style="font-size: 24pt; font-family: 'thrillers', monospace; color: #000000;">web design</span></p>
    <h1><span style="font-size:34pt">PROFILE RAHHH!!!1!!1!</span></h1>
    <p><span style="font-size: 30pt; font-family: 'cc-dynamic-duo-open-variable', monospace; color: #000000;">YEAHHH</span></p>
    <img src="/img/eagle.png" alt="the eagle" width="250" height="250">

</body>

</html>