/* ----- NAVIGATIONAL BUTTON 1 ----- */
/* This is the navigational button, for instances
 * like "Go to Feed." It does not appear on the
 * hot bar header that is on every page. */
.button_nav1 {
    background-color: var(--darkcyan);
    border: none;
    border-radius: 1.10em 1.10em 1.10em 1.10em;
    color: white;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

/* ----- NAVIGATIONAL BUTTON 1 - HOVER -----*/
.button_nav1:hover {
    background-color: var(--darkcyanlighter);
    color: white;
}