/* ----- NAVIGATIONAL BUTTON 1 ----- */
/* This is the navigational button, for instances
 * like "Go to Feed." It does not appear on the
 * hot bar header that is on every page. */
.button_nav1 {
    /* Box Information */
    background-color: var(--darkcyan);
    border: none;
    border-radius: 1.10em 1.10em 1.10em 1.10em;
    color: white;
    padding: 0.5em 1em; /* Height, Width */
    margin-top: 5%;
    display: inline-block;

    /* Text Information */
    font-family: "stevie-sans";
    font-size: 16px;
    text-align: center;
    font-weight: 200pt;

}

/* ----- NAVIGATIONAL BUTTON 1 - HOVER -----*/
.button_nav1:hover {
    background-color: var(--darkcyanlighter);
    color: white;
}