/* Adding custom names for colors
 * to reference later on. */

:root {
    --cadetgrey: #91a3b0;
    --cadetgreylighter: #aebbc4;
    --casper: #adbed1;
    --ghost: #c7c9d5;
    --silversand: #bfc1c2;
}