html {

    /* Thrillers Font */
    @font-face {
        font-family: "thrillers", sans-serif;
        font-weight: 400;
        /* Font Name             |   Font Weights
         * Thrillers Regular     |   400
         * Thrillers Bold        |   700     */
        font-style: normal;
    }


    /* Dynamic Duo Font */
    @font-face {
        font-family: "cc-dynamic-duo-open-variable", sans-serif;
        font-variation-settings: "ital" 0, "wght" 400;
    }

    /* Stevie Sans Font */
    @font-face {
        font-family: "stevie-sans", sans-serif;
        font-weight: 0;
        /* Font Name            |   Font Weights
         * Stevie Sans Thin     |   200
         * Stevie Stans Light   |   300
         * Stevie Sans Book     |   400
         * Stevie Sans Regular  |   500
         * Stevie Sans Medium   |   600
         * Stevie Sans Bold     |   700
         * Stevie Sans Black    |   900     */
        font-style: normal;
    }

}